.search{
    min-height:48px;
    text-align: center;
    line-height: 48px;
}
.search_input{
    width: 456px;
    color:cyan;
    font-size: 18px;
    text-indent: 4px;
    line-height: 28px;
    min-height: 28px;
    border:2px solid #eee;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
}
.search_input:focus{
    border:2px solid cyan;
}
.search_submit{
    width:64px;
    min-height: 34px;
    margin-left: 10px;
    color: cyan;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    border:2px solid #eee;
    border-radius: 5px;
    outline: none;
}